<div class="container my-3">
    <h3>Add a Todo</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="title" class="form-label">Todo Title</label>
            <input type="text" [(ngModel)]="title" class="form-control" id="title" name="title" >
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Todo Description</label>
            <input type="text" [(ngModel)]="desc" class="form-control" id="desc" name="title">
        </div>
        <button type="submit" class="btn btn-sm btn-primary">Add</button>
    </form><br>
</div>