<div class="container my-3">
    <div class="jumbotron">
        <h1 class="display-4">About this ToDo App</h1>
        <p class="lead">This app has been made using Angular Typescript. You can add a task, toggle the checkbox to mark it as done/undone and delete it. It stores the tasks on your local storage so you can access it any time.</p>
        <hr class="my-4">
        <p>Project made by Yash Katariya.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
      </div>
</div>